body{
    background-color: #fff;
}
.nav{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #ddd
}
.nav .logo{
    font-size: 26px;
    font-weight: bold;
    color: rgb(23, 124, 219);
    text-decoration: none;
}