<!DOCTYPE html>
<html>
    <head>
        <%= require('html-loader!./layout/html-head.html')%>
        <title><%= htmlWebpackPlugin.options.title %> -- DeShop, shopping desire</title>
    </head> 
    <body>
        <%= require('html-loader!./layout/nav-com.html')%>
        <%= require('html-loader!./layout/header.html')%>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a href="./index.html" class="link">Deshop</a>>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title %></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <%= require('html-loader!./layout/nav-side.html')%>
            <div class="content with-nav">
                <div class="panel">
                    <div class="panel-title"> Password Update</div>
                    <div class="panel-body">
                            <div class="user-info">
                                    <div class="form-line">
                                        <span class="label">Password:</span>
                                        <input class="input" id="password" autocomplete="off"/>
                                    </div>
                                    <div class="form-line">
                                        <span class="label">New Password:</span>
                                        <input class="input" id="password-new" autocomplete="off"/>
                                    </div>
                                    <div class="form-line">
                                        <span class="label">Confirm Password:</span>
                                        <input class="input" id="password-confirm" autocomplete="off"/>
                                    </div>
                                        <span href="./user-center.html" class="btn" >Submit</span>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')%>
    </body>
</html>