<div class="nav-com">
    <div class="w">
        <div class="userinfo">
            <span class="user not-login">
                <span class="link js-login">Login</span>
                <span class="link js-register">Register</span>
            </span>
            <span class="user login">
                <span class="link-text">
                WELCOME!
                    <span class="username"></span>
                </span>
                <span class="link js-logout">Logout</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="./cart.html" class="link">
                    <i class="fa fa-shopping-cart"></i>
                    Shopping Cart(<span class="cart-count">0</span>)
                </a>
            </li>
            <li class="nav-item">
                <a class="link" href="./order-list.html">Order</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./user-center.html">My Deshop</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./about.html">About</a>
            </li>
        </ul>
    </div>
</div>